<div class="parent-container">
  <h1>About Me</h1>
  <div class="row">
    <div class="col1">
      <img class="avatar" src="/assets/images/avatarreal.jpeg" alt="avatar" />
    </div>
    <div class="col2">
      <div class="innercol1">
        <p>
          Innovative Android Developer with 3 years of experience in designing,
          developing, testing, and maintaining different kind of Android
          applications. Currently working on latest Android concepts like
          Android Jetpack libraries , and also write maintainable and testable
          code with the help of MVVM Architectural pattren. Have experience in
          Developing API-driven backend solutions to enable seamless data
          exchange between applications..
        </p>
      </div>
      <div class="innercol2">
        <h5>Coroutines</h5>
        <!-- <span class="percentage">95%</span> -->
        <p><ngb-progressbar  [value]="85"></ngb-progressbar></p>
        <h5>Sping Boot</h5>
        <!-- <span class="percentage">80%</span> -->
        <p><ngb-progressbar type="success" [value]="80"></ngb-progressbar></p>
        <h5>Design Patterns</h5>
        <!-- <span class="percentage">90%</span> -->
        <p><ngb-progressbar type="info" [value]="90"></ngb-progressbar></p>
        <h5>Flutter</h5>
        <!-- <span class="percentage">50%</span> -->
        <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
        <h5>MVVM</h5>
        <!-- <span class="percentage">90%</span> -->
        <p><ngb-progressbar type="danger" [value]="90"></ngb-progressbar></p>
        <h5>Kotlin</h5>
        <!-- <span class="percentage">90%</span> -->
        <p><ngb-progressbar type="warning" [value]="90"></ngb-progressbar></p>
      </div>
      <!-- <div class="btn">
      <a
      href="https://enos.itcollege.ee/~jpoial/allalaadimised/reading/Java-Interview-Questions.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button>Download CV</button>
    </a>
  </div> -->
    </div>
  </div>
  <div class="row2">
    <div class="items">
      <fa-icon class="icon" [icon]="icon1"></fa-icon>
      <div class="detail">
        <h2>15</h2>
        <p class="name">Projects completed</p>
      </div>
    </div>
    <div class="items">
      <fa-icon class="icon" [icon]="icon3"></fa-icon>
      <div class="detail">
        <h2>10</h2>
        <p class="name">Satisfied Clients</p>
      </div>
    </div>
    <div class="items">
      <fa-icon class="icon" [icon]="icon2"></fa-icon>
      <div class="detail">
        <h2>5490</h2>
        <p class="name">Cups of Tea</p>
      </div>
    </div>
  </div>
</div>
