<div class="hero-section">
    <div class="image div-center">
        <img  class="avatar" src="/assets/images/avatarreal.jpeg" alt="avatar" />
        <img  class="h-class square" src="/assets/images/square.png" alt="avatar" />
    </div>
    <img  class=" h-class triangle" src="/assets/images/triangle.png" alt="avatar" />

    <div class="info div-center">
        <h1>Muhammad Hassaan Siddiqui</h1>
        <h3>I'm a Full Stack Developer</h3>
    <img  class=" h-class line" src="/assets/images/lines.png" alt="avatar" />
    </div> 
    <div class="social-links div-center">
        <a href="https://www.instagram.com/siddiqimuhammadhassaan/" target="_blank" rel="noopener noreferrer" class="ig">
            <img src="/assets/images/ig.png" alt="instagram logo" />
        </a>
        <a href="https://github.com/Mhassaansi" target="_blank" rel="noopener noreferrer" class="ig">
            <img src="/assets/images/github.png" alt="instagram logo" /></a>

        <a href="linkedin.com/in/muhammad-hassaan-siddiqui-449a2216b" target="_blank" rel="noopener noreferrer" class="li">
            <img src="/assets/images/linkedIn.png" alt="instagram logo" />
        </a>
      </div>
    <img  class=" h-class circle" src="/assets/images/circle.png" alt="avatar" />
   
    <a href="#contact" class="hire">
        <button  > Hire Me</button>
      </a>

</div>