<div class="parent-container">
  <h1>Experience</h1>
  <div class="row">
    <div class="col-1">
      <fa-icon class="icon" [icon]="icon1"></fa-icon>
      <div class="info">
        <div class="content">
          <span>2019 - Present</span>
          <h3>Academic Degree</h3>
          <p>
            Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
            perfecto.
          </p>
        </div>
      </div>
      <fa-icon class="icon" [icon]="icon1"></fa-icon>
      <div class="info">
        <div class="content">
            <span>2019 - Present</span>
            <h3>Academic Degree</h3>
            <p>
              Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
              perfecto.
            </p>
          </div>
      </div>
      <fa-icon class="icon" [icon]="icon1"></fa-icon>
      <div class="info">
        <div class="content">
            <span>2019 - Present</span>
            <h3>Academic Degree</h3>
            <p>
              Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
              perfecto.
            </p>
          </div>
      </div>
    </div>
    <div class="col-2">
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
            <span>2019 - Present</span>
            <h3>Academic Degree</h3>
            <p>
              Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
              perfecto.
            </p>
          </div>
        </div>
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
              <span>2019 - Present</span>
              <h3>Academic Degree</h3>
              <p>
                Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
                perfecto.
              </p>
            </div>
        </div>
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
              <span>2019 - Present</span>
              <h3>Academic Degree</h3>
              <p>
                Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum
                perfecto.
              </p>
            </div>
        </div>
      </div>
  </div>
</div>
