<div class="parent-container">
  <h1>Experience</h1>
  <div class="row">
    <div class="col-1">
      <fa-icon class="icon" [icon]="icon2"></fa-icon>
      <i class="bi bi-briefcase-fill"></i>
      <div class="info">
        <div class="content">
          <span>Jan 2022 - Present</span>
          <h3>ANDROID DEVELOPER</h3>
          <p>
            BINATE DIGITAL - karachi, Pakistan
          </p>
        </div>
      </div>
      <fa-icon class="icon" [icon]="icon2"></fa-icon>
      <div class="info">
        <div class="content">
            <span>Sep 2021 - Dec 2021</span>
            <h3>MOBILE APPLICATION DEVELOPER</h3>
            <p>
              ENCORE PAY - Karachi, Pakistan 
            </p>
          </div>
      </div>
      <fa-icon class="icon" [icon]="icon2"></fa-icon>
      <div class="info">
        <div class="content">
            <span>Jul 2019 - Feb 2021</span>
            <h3>ANDROID TRAINEE & DEVELOPER</h3>
            <p>
              ODL OXIMTE DIGITAL TTD. - Wah Cantonment, Pakistan 
            </p>
          </div>
      </div>
      <fa-icon class="icon" [icon]="icon2"></fa-icon>
      <div class="info">
        <div class="content">
            <span>Mar 2021 - Aug 2021</span>
            <h3>JUNIOR ANDROID DEVELOPER</h3>
            <p>
              / SYMMETRY GROUP - karachi, Pakistan
            </p>
          </div>
      </div>
    </div>
    <div class="col-2">
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
            <span>2022 - Present</span>
            <h3> Masters, Software Engineering</h3>
            <p>
              Mohammad Ali Jinnah University karachi
            </p>
            <h6>CGPA: Ongoing</h6>

          </div>
        </div>
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
              <span>2016 - 2020</span>
              <h3> Bachelors, Software Engineering</h3>
              <p>
                COMSATS University Islamabad , Wah campus
              </p>
              <h6>CGPA: 2.9</h6>
            </div>
        </div>
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
              <span>2014 - 2016</span>
              <h3>Intermediate/A-Level</h3>
              <p>
                F.G.Degree college for men wahcantt, Islamabad
              </p>
              <h6>Percentage: 73%</h6>
            </div>
        </div>
        <fa-icon class="icon" [icon]="icon1"></fa-icon>
        <div class="info">
          <div class="content">
              <span>2004 - 2014</span>
              <h3>Matriculation/O-Level</h3>
              <p>
                F.G.Public Boys high School Wahcantt, Islamabad
              </p>
              <h6>Percentage: 69%</h6>
            </div>
        </div>
      </div>
  </div>
</div>
