<!-- <p>contact works!</p> -->
<div class="parent-container">
    <h1>Get In Touch</h1>
  <div class="row">
    <div class="col1">
      <h4>Let's talk about everything</h4>
      <p>Don't like forms? Send me an 
        <a href="hsoft1996@gmail.com">email</a>
        .👋</p>
    </div>
    <div class="col2">
        <form>
            <input type="text" id="name" name="name" placeholder="Your name *"value=""><br><br> 
            <input type="text" id="email" name="email" placeholder="Your email *" value=""><br><br>
             <input type="text" id="subject" name="subject" placeholder="Write a subject *" value=""><br><br>
             <textarea name="" id="" cols="30" rows="10" placeholder="Message*"></textarea><br><br>
            <input type="submit" value="Send Message">
          </form>
    </div>
  </div>
</div>
