.parent-container {
  padding: 6em 2em;
  margin-left: 24%;
  font-family: "Rubik", sans-serif;
  color: #454360;
  background-color: #f9f9ff;
}
h1{
    font-weight: 900;
}
.container{
    padding: 4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
  width: 17em;
  height: 13em;
  border-radius: 1em;
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  margin-bottom: 2em;

}
video{
    width: 17em;
    height: 13em;
    border-radius: 1em;
  margin-bottom: 2em;
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
/* img:hover{
    opacity: 0.1;
}
video:hover{
    opacity: 0.2;
}
.box:hover{
    background-color: #6c6ce5;
    width: 17em;
    height: 13em;
    border-radius: 1em;
  transition: .5s;

} */
@media screen and (max-width: 650px) {
  .parent-container{
    margin-left: 0;
  }}