.parent-container {
  padding: 6em 2em;
  margin-left: 24%;
  font-family: "Rubik", sans-serif;
  color: #454360;
  background-color: #f9f9ff;
}
h1{
    font-weight: 900;
}
.container{
    padding: 4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
  padding: 1.5em;
  margin: 1em 0;
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  border-radius: 30px;
  border: none;
}
.date{
  color: #908fa9;


}
.tools{
  font-size: 1.5rem;
}
@media screen and (max-width: 650px) {
  .parent-container{
    margin-left: 0;
  }}