<div class="parent-container">
  <h1>Recnt Work</h1>
  <div class="container">
    <div class="box">
      <img src="assets/images/art.jpg" alt="art" />
    </div>
    <div class="box">
      <img src="assets/images/art.jpg" alt="art" />
    </div>
    <div class="box">
      <video controls>
        <source
          src="assets/videos/Ertugral Contiversy-compressed.m4v"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="box">
      <img src="assets/images/art2.jpg" alt="art" />
    </div>
    <div class="box">
      <img src="assets/images/art2.jpg" alt="art" />
    </div>
    <div class="box">
      <video controls>
        <source
          src="assets/videos/Ertugral Contiversy-compressed.m4v"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</div>
