<div class="parent-container">
  <h1>Project Completed</h1>
  <div class="container">
    <div class="box card">
      <h2 class="project_name">Boat Basin Lighting / Binate Digital</h2>
      <small class="date">Aug 2022 - Oct 2022</small>
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        Bulid from scratch to production ready. Boat Basin Application in which
        user can connect device with Bluetooth. On and off lights of boat. Send
        Notifications to Admin Pannel , In emergencey.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">TAFCHA / Binate Digital</h2>
      <small class="date">Apr 2022 - Jul 2022</small>
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        Bulid from scratch to production ready. Talent And Fitness Challenge
        known as TAFCHA allows you to upload your best workout video and get
        rating from other users. You can also compare your progress with other
        users around the world or simply invite someone for a friendly
        challenge.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.fictivestudios.tafcha
      "
        >https://play.google.com/store/apps/details?id=com.fictivestudios.tafcha
      </a>
    </div>
    <div class="box card">
      <h2 class="project_name">GET ME FIT / Binate Digital</h2>
      <small class="date">Jan 2022 - Mar 2022</small>
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        Bulid from scratch to production ready. Gym traninig application. Save
        Daily exercies record. Save daily food intake. Using Voice Text and Text
        to Voice functionality. Calculate calories etc.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">Pay Go Application / Encore Pay</h2>
      <small class="date">Sep 2021 - Dec 2021</small>
      <h2 class="tools">Android Studio</h2>
      <ol class="desc">
        <li>
          Working as part of team to define and implement solutions and
          developed and maintained deliverables with product management team
          according to product road map.
        </li>
        <li>
          Integrating Sdks in application and processing their result data in
          into application for online payments
        </li>
      </ol>
    </div>
    <div class="box card">
      <h2 class="project_name">Laundry Application / symmetry Group</h2>
      <small class="date">Mar 2021 - Aug 2021 </small>
      <h2 class="tools">Android Studio</h2>
      <ol class="desc">
        <li>
          Working as part of team to define and implement solutions and
          developed and maintained deliverables with product management team
          according to product road map.
        </li>
        <li>
          Designed responsive user interface, Implement restful API using
          retrofit in applications.
        </li>
        <li>
          Fixed bugs and improved application performance. debugged critical
          application issues such as crashes.
        </li>
      </ol>
    </div>
    <div class="box card">
      <h2 class="project_name">
        Ecommerce Application / ODL Oximte Digital Ttd.
      </h2>
      <!-- <small class="date">Sep 2021 - Dec 2021</small> -->
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        An e-commerce application that utilizes Firebase technology. Our
        application can also offer features like order tracking, payment
        gateways, customer support, and feedback systems to enhance the shopping
        experience for the customers.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">Si-Cashing / ODL Oximte Digital Ttd.</h2>
      <!-- <small class="date">Sep 2021 - Dec 2021</small> -->
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        This application offers a comprehensive solution for managing vehicle
        records of customers entering and leaving the port, as well as
        facilitating financial management. With this system, you can keep track
        of all vehicles using the port facilities and their corresponding
        details, including entry and exit times. The system also offers
        financial management features to help you keep track of payments,
        expenses, and other financial transactions.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">
        Online Tailoring System / ODL Oximte Digital Ttd.
      </h2>
      <!-- <small class="date">Sep 2021 - Dec 2021</small> -->
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        This online tailoring service allows customers to select tailors based
        on their reviews and ratings, and book an order. Once an order is
        placed, the customer provides their measurements and a driver is
        dispatched to collect the fabric from their home and deliver it to the
        tailor. The tailor then sews the fabric to the customer's specifications
        and returns it to the customer. After receiving the tailored item, the
        customer can provide a review and rating for the tailor's services.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">
        Smart Food Ordering System / ODL Oximte Digital Ttd.
      </h2>
      <!-- <small class="date">Sep 2021 - Dec 2021</small> -->
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        The Smart Food Ordering system eliminates the need for waiters by
        allowing customers to place their orders directly through an Android app
        on tablets. The order is then transmitted to the kitchen, and the meal
        is prepared and served to the customer. The app displays the
        restaurant's menu, provides a cart system for ordering, and facilitates
        order management.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">
        Fridge Pal Android App / ODL Oximte Digital Ttd.
      </h2>
      <!-- <small class="date">Sep 2021 - Dec 2021</small> -->
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        I created an app for a freelance client on Upwork that manages fridge
        products. The app enables users to add products to their fridge
        inventory, monitor expiry dates, and optimize their inventory. It also
        provides additional features like generating reports for efficient
        management.
      </p>
    </div>
    <div class="box card">
      <h2 class="project_name">
        Infodrips Web View Android Application / ODL Oximte Digital Ttd.
      </h2>
      <!-- <small class="date">Sep 2021 - Dec 2021</small> -->
      <h2 class="tools">Android Studio</h2>
      <p class="desc">
        I create this project for upwork client in which i impelment web view
        and Google Adds like (Banner , Interstitial , Native) adds. And add
        google tracking app.
      </p>
    </div>
  </div>
</div>
