<div class="parent-container">
  <h1>Clients & Reviews</h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="row">
        <div class="col1">
          <img src="assets/images/avatar2.jpg" alt="image" />
          <h5>John Doe</h5>
          <p>Product designer at Dribbble</p>
        </div>
        <div class="col2 ">
          <div class="container">
            <p>
              I enjoy working with the theme and learn so much. You guys make
              the process fun and interesting. Good luck! 👍
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="row">
        <div class="col1">
          <img src="assets/images/avatar.jfif" alt="image" />
          <h5>Amanda</h5>
          <p>Product designer at Dribbble</p>
        </div>
        <div class="col2">
          <div class="container">
            <p>
              I enjoy working with the theme and learn so much. You guys make
              the process fun and interesting. Good luck! 👍
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
