<div class="parent-container">
  <h1>Clients & Reviews</h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="row">
        <div class="col1">
          <img src="assets/images/avatar2.jpg" alt="image" />
          <h5>Syed Tariq Mehmood</h5>
          <p>Syed International</p>
        </div>
        <div class="col2">
          <div class="container">
            <p>
              I recently worked with Hassaan on an Android app project and I am
              extremely impressed with their skills and professionalism.He was
              attentive to my requirements, responsive to feedback, and
              dedicated to delivering a high-quality product on time and within
              budget. I highly recommend Hassaan as a talented and reliable
              Android developer. Good luck! 👍
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="row">
        <div class="col1">
          <img src="assets/images/avatar2.jfif" alt="image" />
          <h5>Aqib Ahmed</h5>
          <p>Info Drips App</p>
        </div>
        <div class="col2">
          <div class="container">
            <p>
              Hassaan is an outstanding Android developer who
              exceeded my expectations. He was always available to address my
              concerns, provided valuable insights, and delivered a high-quality
              product that I am proud of. He is recomended from my side. 👍
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
