<div class="parent-container">
  <h1>Services</h1>
  <div class="container">
    <div id="box-1" class="box">
      <div class="info">
        <img src="assets/images/service-1.svg" alt="image" />
        <h3>Mobile Development</h3>
        <p>
          Designing and developing mobile apps that seamlessly integrate into
          your business.
        </p>
      </div>
    </div>
    <div id="box-2" class="box">
      <div class="info">
        <img src="assets/images/service-2.svg" alt="image" />
        <h3>BackEnd Development</h3>
        <p>
          Expertise in designing, developing, and maintaining scalable backend
          solutions for various business domains.
        </p>
      </div>
    </div>
    <div id="box-3" class="box">
      <div class="info">
        <img src="assets/images/service-3.svg" alt="image" />
        <h3>Project Management</h3>
        <p>
          Your partner for project planning, execution, and delivery with expert
          project management skills.
        </p>
      </div>
    </div>
  </div>
  <p class="para">
    Looking for a custom job?&nbsp;
    <a href="#contact">Click here</a>
    &nbsp;here to contact me!👋
  </p>
</div>
