<div class="parent-container">
    <h1 class="logo">Hassaan.</h1>
    <nav>
        <ul>
            <li>
                <a  
                routerLink="#"
                routerLinkActive="active" class="home"
                  >Home</a>
            </li>
            <li>
                <a  
                routerLink="about-me"
                routerLinkActive="active" class="about"
                  >About Me</a>
            </li>
            <li>
                <a  
                routerLink="services"
                routerLinkActive="active" class="service"
                  >services</a>
            </li>
            <li>
                <a  
                routerLink="expirience"
                routerLinkActive="active" class="about"
                  >Experience</a>
            </li>
        </ul>
    </nav>
</div>
