<div class="parent-container">
    
    <h1 class="logo">Hassaan  <h1 class="dot">. </h1></h1>
    
    
    <nav>
        <ul>
            <li>
                <fa-icon class="icon" [icon]="icon1"></fa-icon> 
                <a 
                href="#hero" 
              
                  >Home</a>
            </li>
            <li>
                <fa-icon class="icon" [icon]="icon2"></fa-icon>
                <a  
                href="#about" 
              
                  >About</a>
            </li>
            <li>
                <fa-icon class="icon" [icon]="icon3"></fa-icon> 
                <a
                href="#services" 
                
                  >Services</a>
            </li>
            <li>
                <fa-icon class="icon" [icon]="icon4"></fa-icon> 
                <a 
                href="#experience"  
              
                  >Experience</a>
            </li>
            <!-- <li>
                <fa-icon class="icon" [icon]="icon6"></fa-icon> 
                <a  
                routerLink="pricing"
                routerLinkActive="active" class="about"
                  >Pricing</a>
            </li> -->
            <li>
                <fa-icon class="icon" [icon]="icon5"></fa-icon> 
                <a  
                href="#work" 
         
                  >Work</a>
            </li>
            <li>
                <fa-icon class="icon" [icon]="icon7"></fa-icon> 
                <a 
                href="#testimonial"  
              
                
                  >Testimonial</a>
            </li>
            <!-- <li>
              <fa-icon class="icon" [icon]="icon8"></fa-icon> 
                <a  
                routerLink="blog"
                routerLinkActive="active" 
                  >Blog</a>
            </li> -->
            <li>
              <fa-icon class="icon" [icon]="icon9"></fa-icon> 
                <a  
                href="#contact" 
           
                  >Contact</a>
            </li>
        </ul>
        <p class="copyright">© 2022 Hassaan Siddiqui.</p>
    </nav>
</div>
